<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body ng-app="kuldipWeb" class='<%= className%>'>
    <% include partials/templates/menu.ejs %>
	<div ng-controller='home' class="dark">
        <% include partials/templates/home.ejs %>
	</div>
    <div ng-controller="mainInfo" class="dark">
    	<% include partials/templates/infoTemplate.ejs %>
    </div>
    <% include partials/templates/recentPostsTemplate.ejs %>
    <% include partials/templates/footer.ejs %>
    <% include partials/templates/defaultjs.ejs %>

</body>
</html>