.comment-section {
	padding: 50px 50px 0;
	.comment-section .container > ul,
	.comment-section .container > div {
		margin-top: 40px;
	}
	.mainTitle {
		color: #463B47;
		font-size: 2em;
		border-bottom: 1px solid #E06959;
		padding-bottom: 10px;
		margin-bottom: 20px;
		display: inline-block;
		text-transform: uppercase;
	}
	.commentsList, .postCommentContainer {
		background: #ffffff;
		border: 1px solid #463B47;
		margin-bottom: 10px;
		font-size: .85em;
		text-align: left;
	}
	.postCommentContainer {
		margin-bottom: 50px;
	}
	.commentContent, .postContent {
		padding: 20px 10px;
	}
	.comments {
		text-align: center;
		.commentTitle {
			padding: 10px 10px 3px;
			background: rgba(91, 76, 92, 0.25);
			color: #463B47;
			height: 18px;
			font-size: .9em;
			position: relative;
			.name {
				text-transform: uppercase;
			}
			.date {
				position: absolute;
				right: 20px;
				top: 40%;
				font-size: .8em;
			}
		}
	}
	.post-comments {
		margin-top: 30px;
		position: relative;
		text-align: center;
		.postTitle {
			padding: 15px 10px;
			background: rgba(91, 76, 92, 0.25);
			border-bottom: 1px solid #463B47;
			color: #fff;
			height: 35px;
			font-size: 1em;
			position: relative;
			.emails {
				display: none;
			}
			input {
				width: 300px;
				height: 25px;
				border: 1px solid #463B47;
				padding: 5px 15px;
				font-size: 80%;
				margin-right: 20px;
			}
			.submit {
				position: absolute;
				right: 15px;
				top: 17px;
				display: block;
				background: #ffffff;
				color: #463B47;
				border: 1px solid #463B47;
				span {
					padding: 8px 20px;
					text-transform: uppercase;
					transition: all .3s;
					-webkit-transition: all .3s;
				}
				&:hover {
					background: #463B47;
					color: #ffffff;
				}
			}
		}
		.postMsg {
			position: absolute;
			top: 28px;
			right: 0;
			padding: 10px 20px;
			color: #fff;
			z-index: 1;
			transition: all .2s;
			transform: scale(0);
			&.success {
				transform: scale(1);
				background: #161;
			}
			&.error {
				transform: scale(1);
				background: #911;
			}
		}
		.postContent {
			display: block;
			height: 100px;
			position: relative;
			textarea {
				display: block;
				width: 100%;
				height: 100%;
				border: 0;
				resize: none;
				font-size: 100%;
			}
		}
	}
}
@media (max-width:767px) {
	.comment-section {
		padding: 20px;
		.mainTitle {
			font-size: 1.3em;
			margin-bottom: 40px;
		}
		.commentContent {
			line-height: 1.3em;
		}
		.post-comments {
			.postTitle {
				height: auto;
				input {
					width: 88%;
					margin-bottom: 5px;
					padding: 5px 15px;
					margin-right: 0;
				}
				.submit {
					width: 88%;
					padding: 0 15px;
					text-align: center;
					position: relative;
					top: 0;
					right: 0;
				}
			}
			.postMsg {
				font-size: .85em;
				top: 38px;
			}
		}
	}
}