.easyTabContainer {
	.easyTabTitleImageContainer {
		height: 200px;
		overflow: hidden;
		padding: 80px 80px 0;
		text-align: center;
		box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,.1);
		img {
			height: 170%;
			box-shadow: 14px 10px 12px -4px rgba(0,0,0,.2);
		}
	}
	.main-content {
		padding: 50px 50px 0;
		font-size: 1em;
		font-weight: 100;
		line-height: 1.5em;
		p, h3, div {
			margin-bottom: 20px;
		}
		.download {
			background: #463B47;
			padding: 5px 10px;
			margin-left: 10px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: .8em;
			box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,.5);
			border: 1px solid #ffffff;
			transition: .3s all;
			-webkit-transition: .3s all;
			&:hover {
				background: rgba(255,255,255,.5);
				color: #463B47;
				border: 1px solid #463B47;
			}
		}
		h3 {
			font-weight: 500;
		}
		.code-point {
			margin-bottom: 5px;
		}
		.code {
			width: 90%;
			padding: 20px;
			background: #eee;
			color: #119;
			border: 1px solid #463B47;
			font-size: .9em;
			box-shadow: inset 0 0 9px 3px rgba(91, 76, 92, .1);
			text-shadow: 1px 1px 0px #fff;
			margin-bottom: 40px;
			font-family: monospace, Helvetica, Arial;
			strong {
				font-weight: 700;
			}
			pre {
				white-space: pre-wrap;
			}
		}
		.file {
			padding: 0 5px;
			background: #eee;
			color: #119;
			font-size: .9em;
			box-shadow: inset 0 0 9px 3px rgba(179, 122, 228, 0.1);
			text-shadow: 1px 1px 0px #fff;
			font-family: monospace, Helvetica, Arial;
		}

	}
}
@media (max-width:767px) {
	.easyTabContainer {
		width: 100%;
		.main-content {
			padding: 50px 20px;
		}
		.easyTabTitleImageContainer {
			padding: 20px 20px 0;
		}
	}
}