body .home {
	height: 650px;
	width: 100%;
	overflow: hidden;
}
.home-info {
	display: none;
}
.aboutMePage .home-info {
	display: block;
	position: absolute;
	z-index: 1;
	top: 80px;
	width: 400px;
	margin-left: 45%;
	text-align: center;
	text-shadow: 0px 0 20px rgba(255,255,255,.5);
	color: #000;
	> .info-1 {
		display: inline-block;
		font-size: 40px;
		font-family: "code light", Helvetica, Arial;
		line-height: 1.5em;
		width: 210px;
	}
	> .main-title {
		display: inline-block;
		font-size: 70px;
		font-family: "code bold", Helvetica, Arial;
		margin-top: 10px;
	}
}
.home .container > img {
	height: 100%;
	display: block;
}
.home .container {
	height: 100%;
	position: relative;
}
.home .container:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	border-top: 80px solid transparent;
	border-right: 1500px solid #E06959;
}
.home .container:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	border-top: 60px solid transparent;
	border-right: 1500px solid #ffffff;
}
.dark .home .container:after {
	border-right: 1500px solid #463B47;
}
.parallax-window {
    min-height: 100%;
    background: transparent;
}
@media (max-width:767px) {
	body .home {
		height: 50%;
	}
	.aboutMePage .home-info {
		display: none;
	}
}