<meta charset="utf-8">
<title><%= title %></title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel='stylesheet' href='/stylesheets/main.css' />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!--link rel='stylesheet' href='/stylesheets/font-awesome.min.css' /-->
<link rel='stylesheet' href='/stylesheets/icomoon.css' />
<link rel='stylesheet' href='/stylesheets/easyforms.css' />
