<section class="{{classNames}}">
	<div class="container">
		<div class="parallax-window" data-parallax="scroll" data-image-src="{{imgLink}}" data-speed='.5'></div>
		<div class="home-info">
			<span class="info-1">Explore.</span>
			<span class="info-1">Dream.</span>
			<span class="info-1">Discover.</span>
			<span class="main-title">A Traveller</span>
		</div>
	</div>
</section>
