<section class="main_info {{classNames}}">
	<div class="container">
		<h2>{{title}}</h2>
		<div>
			<p class="info_content">{{info_content}}</p>
		</div>
		<div class="{{showButton}}">
			<a href="{{buttonLink}}">{{buttonTitle}} </a>
		</div>
	</div>
</section>