<section class="menu">
	<div class="container">
		<ul class="menuList show">
			<li><a href="/"><span class="fa-home fa"></span></a></li>
			<li><a href="/aboutme"><span class="fa-user fa"></span></a></li>
			<li><a href="/contactme"><span class="fa-pencil-square-o fa"></span></a></li>

		</ul>
	</div>
</section>