<section class="menu">
	<div class="container">
		<div class="menuIcon"><a class="fa fa-navicon" href="#"></a></div>
		<ul class="menuList">
			<li><a href="/"><span class="fa-home fa"></span></a></li>
			<li><a href="/aboutme"><span class="fa-user fa"></span></a></li>
			<li><a href="/contactme"><span class="fa-pencil-square-o fa"></span></a></li>
			<li class="closeBtn"><a href="#">Close</a></li>
		</ul>
	</div>
</section>