<section class="recentPosts">
	<div class="container">
		<h2 class="title">Recent Posts by Kuldip Raj</h2>
		<ul class="posts">
			<li class="postlist first" ng-controller="recentEasyTabPost">
				<div class="postHead clearfix">
					<h3 class="title"> <a href="/easytabs">EasyTabs - A responsive tabs</a></h3>
					<div class="otherInfo clearfix">
						<span class="date">Date: 24/12/14</span>
						<span class="comments">{{comments}} Comments</span>
						<span class="Tags">Plug-in, Responsive, Javascript</span>
					</div>
				</div>
				<a class="descriptionData clearfix" href="/easytabs">
					<div class="imageContainer">
						<img class="postImage" src='images/recentPosts/easytabs.jpg' alt="EasyTabs - A Responsive Tabs"></img>
					</div>
					<div class="description">
						<p>
						<span>There are several tabs related plugin available. But when it comes to responsive, we left with only few options. We needed in different forms in different occassion; in dropdown form, in carousel form or in accordian form. Recently while working on one of such kind of project requirement, I found out other developer had used seperate plugins for tabs and carousel. Therefore, I have created kind of plugin for tabs which gets covert into either of these options. Simple Stuff, Simple plug-in.</span>
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>