<section id="about" class="topic about">
	<img src="/images/resume/home.jpg" alt="Resume Home" class="about-bg">
	<div class="about-info">
		<div class="about-title">
			<h2><span>About Me</span></h2>
		</div>
		<div class="preface">
			<h3>Profile</h3>
			<p>I am having round about 8.5 years of experience in IT Industry. I am Currently working as Track Lead in SapientNitro, India. Previously I was working with Livestrem Technology Pvt. Ltd.</p>
			<p>My core experience is in the field of Front End Development where I am constantly working on Advanced Javascripts, JQuery, HTML5 and CSS3 with SASS. I also have good command over NodeJS with ExpressJS and EJS and AngularJs. Along with that, due to my previous experience, I also have explosure on BackboneJs, requiredJs, RoR and CQ5.</p>
			<p>Our future lies in our deams and my dream is to contuneously dive in the field of Advanced javascript and various JS frameworks.</p>
		</div>
		<ul class="about-list">
			<li>
				<span class="title">Name:</span><span>Kuldip Raj</span>
			</li>
			<li>
				<span class="title">Email:</span><span>kuldip@kuldipraj.com, kuldipinfotech@gmail.com</span>
			</li>
			<li>
				<span class="title">Phone:</span><span>+91-9538976953</span>
			</li>
			<li>
				<span class="title">Date of Birth:</span><span>August 5, 1983</span>
			</li>
			<li>
				<span class="title">Address:</span><span>Whitefield, Bangalore - 560067</span>
			</li>
		</ul>
	</div>
</section>