<section class="contact" id='contact'>
	<div class="container">
		<div class="contact-title">
			<h2><span>Contact</span></h2>
		</div>
		<div class="contact-data">
			<ul class="address-info">
			    <li class="clearfix">
			    	<span class="fa fa-map-marker"></span>
			    	<p class="title">Kuldip Raj</p>
			    	<p class="other-info">Whitefield, Kadugodi, Bangalore, India</p>
			    </li>
			    <li class="clearfix">
			    	<span class="fa fa-mobile"></span>
			    	<p class="title">Mobile</p>
			    	<p class="other-info">+91-9538976953</p>
			    </li>
			    <li class="clearfix">
			    	<span class="fa fa-envelope"></span>
			    	<p class="title">Email</p>
			    	<p class="other-info">kuldipinfotech@gmail.com</p>
			    </li>
			</ul>
			<ul class="social-info clearfix">
				<li><a class="fa fa-twitter" href="#"></a></li>
				<li><a class="fa fa-linkedin" href="#"></a></li>
			</ul>
		</div>
	</div>
</section>