<section id="skills" class="topic skills">
	<div class="container">
		<div class="skills-title">
				<h2><span>Key Points</span></h2>
		</div>
		<div class="skills-list">
			<ul class="clearfix">
			    <li class="clearfix">
			    	<span class='fa fa-spinner'></span>
			    	<h3><span>8.5 years of experience</span></h3>
			    </li>
			    <li class="clearfix">
			    	<span class='fa fa-book'></span>
			    	<h3><span>Advanced Javascript</span></h3>
			    </li>
			    <li class="clearfix">
			    	<span class='fa fa-bars'></span>
			    	<h3><span>Responsive </span><span>Web Design</span></h3>
			    </li>
			    <li class="clearfix">
			    	<span class='fa fa-adn'></span>
			    	<h3><span>Accessibility</span></h3>
			    </li>
			</ul>
		</div>
		<div class="skills-title">
				<h2><span>Highlights</span></h2>
		</div>
		<ul class="other-skills">
		    <li class="clearfix">
		    	<span class='fa fa-check'></span><span>JQuery Expert</span>
		    </li>
		    <li class="clearfix">
		    	<span class='fa fa-check'></span><span>NodeJs, ExpertJs with EJS, AngularJs</span>
		    </li>
		    <li class="clearfix">
		    	<span class='fa fa-check'></span><span>HTML5, CSS3, SASS, Bootstrap, GIT</span>
		    </li>
		    <li class="clearfix">
		    	<span class='fa fa-check'></span><span>Oops, Design Pattern, Plug-in creation with Javascript</span>
		    </li>
		    <li class="clearfix">
		    	<span class='fa fa-check'></span><span>Basic knowledge on ROR, CQ5</span>
		    </li>
		</ul>
	</div>
</section>